.profileBackground {
  width: 100%;
  object-fit: cover;
  max-height: 250px;
}

.profileAvatar {
  width: 150px;  
}

.userProfile {
  display: flex;
  align-items: flex-start;
  justify-content:flex-start;
  padding: 15px 0px;
}