.dialog {
    background-color:rgb(0, 91, 133);
}

.inactive {
    color: white;
    display: block;
    text-decoration: none;    
}

.active {   
    color: rgb(161, 241, 40);  
    text-decoration: none;    
}