.profileBackground {
  width: 100%;
  object-fit: cover;
  max-height: 250px;
}

.userProfile {
  display: grid;
  grid-template-areas: 
  "name name"
  "avatar info"  ;
  padding: 20px 0px;
  max-width: 300px;
}

.profileAvatar {
  max-width: 150px;
  grid-area: avatar;  
}

.profileName {
  grid-area: name;
}

.profileInfo {
  grid-area: info;
}