.profileBackground {
  width: 100%;
  object-fit: cover;
  max-height: 250px;
}

.userProfile {
  display: grid;
  grid-template-areas: 
  "name name"
  "avatar info"  ;
  padding: 20px 0px;
  max-width: 100%;
}

.profileAvatar {
  max-width: 150px;
  grid-area: avatar;  
}

.profileName {
  grid-area: name;
}

.profileInfo {
  grid-area: info;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.profileInfo div {
  display: inline-block;
}

.linksItem {
  width: 150px;
  font-weight: 700;
}

ul, li {
  list-style-type:  none;
}