.profileBackground {
  width: 100%;
  object-fit: cover;
  max-height: 250px;
}

.userProfile {
  display: grid;
  grid-template-areas: 
  "name name"
  "avatar info"  ;
  padding: 20px 0px;
  max-width: 100%;
  grid-template-columns: 2fr 5fr;
}

.profileAvatar {
  max-width: 200px;
  grid-area: avatar;  
}

.profileAvatar img {
  max-width: 100%;
}
.profileName {
  grid-area: name;
}

.profileInfo {
  grid-area: info;
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: left;
}

.profileInfo div {
  display: inline-block;
}

.linksItem {
  width: 150px;
  font-weight: 700;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}