.app-wrapper {
  max-width: 1440px;  
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "h h"
  "n c"
  "n f";
  grid-template-rows: 60px 1fr 40px;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  min-height: 100vh;
}

.header {
  grid-area: h;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header img {
  max-width: 40px;
  padding-left: 15px;
}

.nav {
  grid-area: n;
  background-color: bisque;
  padding: 15px 0px 0px 15px;
}

.content {
  grid-area: c;
  background-color: rgb(207, 207, 207);
  padding: 15px;
}

.content .profileBackground {
  width: 100%;
  object-fit: cover;
  max-height: 250px;
}

.content .profileAvatar {
  width: 150px;  
}

.userProfile {
  display: flex;
  align-items: flex-start;
  justify-content:flex-start;
  padding: 15px 0px;
}

.footerDark {
  grid-area: f;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footerText {
  padding: 0px 15px;
}