.dialogsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 15px;
    color: black;
    background-color: rgb(167, 255, 255);       
}

.dialogsItems {
    display: flex;
    flex-direction: column;    
    gap: 25px;    
}

.messages {    
    display: flex;
    color: white;
    flex-direction: column;
    gap: 25px;  
}

.sendMessage {
    width: 600px;    
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin: auto;
}

.sendMessage textarea {
    display: block;
    width: 100%;
    height: 55px;
    border-radius: 5px;
    width: 100%;
    margin: 0;
    padding: 0;
    border-width: 0;
    resize: none;
    border: 0px solid rgb(0, 0, 0);
}

.sendMessage button {
    display: block;
    font-size: 16px;
}